body{
    background-color: gray;
    align-content: center;
}

#container{
    align-self: center;
    background-color: white;
    width: 600px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#header{
    background-color: cornflowerblue;
    color: white;
    text-align: center ;
}

#SingUp{
    padding: 10px 10px 20px 20px;
}
#but{
    align-items: end;
    alignment: right;
}
button{
    padding:15px 276.5px;
    border: 2px solid #f1f0f0;
}
label{
    height: 40px;
    width: 150px;
}