<title>Friend</title>

<h1>{{ friendship.sender_name }} ({{ friendship.nickname_1 }}) & {{ friendship.friend_name }} ({{ friendship.nickname_2 }})</h1>
<h2>Friendship ID: {{ friendship.friendship_id }}</h2>

<a href="/friends/{{ friendship.friendship_id }}/edit">==Edit nicknames==</a>
<a href="/friends">==All friends==</a>

<form action="/friends/{{friendship.friendship_id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>

{% for message in messages %}
<p>{{ message.sent_by_id }}: {{message.content}}</p>
{% endfor %}


<form action=/message/new method="post">
  <input type="text" name="message">
  <input type="hidden" name="friendship_id" value="{{ friendship.friendship_id }}">
  <button type="submit">Send</button>
</form>

